/* imports */
@import "styles/menu.css";
@import "styles/title.css";
@import "styles/about.css";
@import "styles/skills.css";
@import "styles/hobbies.css";
@import "styles/academic.css";
@import "styles/experience.css";
@import "styles/contact.css";
@import "styles/footer.css";

:root{
    /* Variables de colores */
   --cor-de-fondo: #B0BEC5;
   --cor-de-link: #000;
   --color-footer: #212121;
   --fondo-box: #17FC4F;
   --color-secundario: #78909C;
   --color-texto: #263238;
}

/* Reset de estilos */
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 2;
    padding: 0px 0px;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/* Ajuste de margenes para monitores de mas de 1440 pixeles */
.tudo{
    padding: 0 calc(0px + (260 - 0) * ((100vw - 1440px) / (1920 - 1440)));
}